.calendar-container {
  width: 100%;
  text-align: center;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 84%;
  padding: 10px 0px;
  margin: auto;
  background-color: #40a9ff;
  color: #fff;
}
.header-icon {
  padding: 4px;
  cursor: pointer;
}
.body-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 84%;
  margin: auto;
  background-color: #888;
  color: #fff;
}
.day-title-cell {
  width: 14.28%;
  font-size: 1.2rem;
  padding: 6px;
  border: 1px solid #fff; 
}
.day-cell {
  width: 14.28%;
  font-size: 1.2rem;
  background-color: #ddd;
  padding: 12px;
  border: 1px solid #fff;
  color: #000;
  cursor: pointer;
}
.day-cell:hover {
  border: 1px solid #40a9ff;
  color: #40a9ff;
}